* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}


.banner {
  display: flex;
  justify-content: center; /* Align horizontally in center */
  align-items: center; /* Align vertically in center */
  width: 100vh;
  height: 100vh;
  margin-top: 20px;
  background-image: url('https://engineering.unl.edu/images/staff/Kayla-Person.jpg');
  background-size: cover;
  background-position: center;
  
}

